{% extends 'base.html.twig' %}

    {% block title %}Application React{% endblock %}
 {% block stylesheets %}
  <link href="https://bootswatch.com/5/solar/bootstrap.min.css"  rel="stylesheet"/>
      
{% endblock %}
{% block body %}
    <div id="app"></div>
{% endblock %}
